body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6rem;
  background: #d6e1f0;
  color: rgb(241, 241, 241);
}
.app {
  width: 70%;
  min-width: 400px;
  max-width: 800px;
  background: rgb(145, 115, 246);
  border-radius: 14px;
  padding: 20px 40px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.307);
  transition: 0.2s;
}
.app:hover {
  transform: scale(1.01);
}
button {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #ffffff;
  margin: 5px;
  background-image: linear-gradient(120deg, rgb(183, 164, 246) 0%, rgb(78, 54, 158) 100%);
  padding: 10px 20px;
  border-radius: 150px;
  border: 2px solid #ffffff;
  border-bottom: 3px solid #350091;
  border-right: 3px solid #4d00b9;
  transition: 0.2s;
  cursor: pointer;
}
button:hover {
  color: black;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-right: 3px solid rgb(80, 80, 80);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.32);
  transform: translateX(3px);
}
button:active {
  transform: scale(1.05);
}

